body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #sidebar, #preview {
    position: absolute;
}

#header {
    height: 3em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#sidebar {
    width: 25%;

    left: 0;
    top: 3em;
    bottom: 0;
    overflow-y: scroll;
}

#preview {
    width: 50%;

    right: 0;
    top: 3em;
    bottom: 0;
}

#dashboard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 25%;
    height: 90%;
    left: 25%;
    top: 3em;
    bottom: 0;
}

.docking-panel {
    padding: 10px;
    resize: both !important;
    width: 100%;
    max-width: 100% !important;
}

.property-panel {
    overflow-y: auto;
}

.treeview {
    margin-top: 15px;
}

.expanded, .category {
    margin-bottom: 15px;
}

.property lmvheader{
    display: flex;
}

.property-name {
    width: 30%;
}

.property-value {
    width: 40%;
}

/* .adsk-viewing-viewer {
    height: 75% !important;
} */

.canvas-wrap canvas{
    position: absolute;
    top: 0px;
    right: 0px;
    /* height: 400px !important;
    width: 700px !important; */
    border-radius: 5px;
    resize: both !important;
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.4);
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
}

#login {
    font-family: ArtifaktElement;
    font-size: 1em;
}

#hubs-toggle {
    font-family: ArtifaktElement;
    font-size: 1em;
}

#header .title {
    height: auto;
    margin-right: auto;
}

#tree {
    margin: 0.5em;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }
    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {
    
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}
